<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- ContentProvider for initializing application context at startup -->
        <provider
            android:name="dev.litert.litertlm.LiteRTLMInitProvider"
            android:authorities="${applicationId}.litertlm.init"
            android:exported="false"
            android:initOrder="100" />
            
        <!-- Allow dynamic loading of OpenCL for GPU delegate acceleration on Android 12+ -->
        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />
        <uses-native-library
            android:name="libvndksupport.so"
            android:required="false" />
    </application>
</manifest>
